<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.gmy.sp.loctrack.mapper.StepsMapper">
    <select id="queryStepsByPhone" parameterType="String" resultType="io.github.gmy.sp.loctrack.DO.StepsDO">
        select * from steps
        where device_id = (
            select device_id from dev_ownerships
            where account_id = (
                select account_id from accounts where phone = #{phone}))
        limit 1
    </select>
    <update id="incStepsByDeviceId" parameterType="Integer">
        update steps
        set steps = steps + 1
        where device_id = #{deviceId}
        limit 1
    </update>
    <update id="setSteps" parameterType="Integer">
        update steps
        set steps = #{steps}
        where device_id = #{deviceId}
        limit 1
    </update>
</mapper>
